{% if department_list %}
<ul>
    {% for department in department_list %}
    <li><a href="{% url 'face:detail' department.id %}"> {{department.department_name}}</a></li>
    {% endfor %}
</ul>
{% endif %}

<div style="width: 570px;">
    <form action="{% url 'face:register'  %}" method="post">
        {% csrf_token %}

        <div style="height: 30px;">
            <div class="cont-wp">Name: </div>
            <div class="cont-wp"><input type="text" name="name" /></div>
        </div>
        <div>
            <div class="cont-wp">Department: </div>
            <div class="cont-wp">
                <select id="department_id" name="department_id" class="form-control">
                    <option value="" selected>Please select a department</option>
                    {% for department in department_list %}
                    <option value="{{ department.id }}">{{ department.department_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div><input type="submit" value="Register"></div>        
    </form>
</div>

<style>
    .cont-wp {
        display: inline-block;
        width: 49%;
    }
</style>