{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div>
    <div style="height: 30px;">
        <div class="cont-wp">Id: </div>
        <div class="cont-wp">{{ people.id }}</div>
    </div>
    <div style="height: 30px;">
        <div class="cont-wp">Name: </div>
        <div class="cont-wp">{{ people.name }}</div>
    </div>
    <div style="height: 30px;">
        <div class="cont-wp">Department: </div>
        <div class="cont-wp">{{department.department_name}}</div>
    </div>
</div>

<style>
    .cont-wp {
        display: inline-block;
        width: 200px;
    }
</style>