{% load static %}
<script type="text/javascript" src="{% static 'face_detector/face_detector.js' %}"></script>


<form action="{% url 'face_detector:register'  %}" method="post" enctype="multipart/form-data">
    <div style="width: 500px; display: inline-block; vertical-align: top;">
        {% csrf_token %}

        <!-- <div style="height: 30px;">
            <div class="cont-wp">Id: </div>
            <div class="cont-wp"><input type="text" name="id" /></div>
        </div> -->
        <div style="height: 30px;">
            <div class="cont-wp">Name: </div>
            <div class="cont-wp"><input type="text" name="name" /></div>
        </div>
        <div style="height: 30px;">
            <div class="cont-wp">Department: </div>
            <div class="cont-wp">
                <select id="department_id" name="department_id" class="form-control">
                    <option value="" selected>Please select a department</option>
                    {% for department in department_list %}
                    <option value="{{ department.id }}">{{ department.department_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div style="height: 30px; margin-bottom: 20px;">
            <div class="cont-wp">Image: </div>
            <div class="cont-wp">
                <input class="textarea1 form-control" type="file" accept="image/*" name="image" id="upload-file"
                    onchange="loadFile(event)" />
                
            </div>
        </div>

        <div style="height: 30px; margin-bottom: 20px;">
            <div class="cont-wp">&nbsp;</div>
            <div class="cont-wp">
                <input type="submit" value="Register" />
            </div>
        </div>
    </div>
    <div style="width: 500px; display: inline-block;">
        <div><img id="output" style="width: 224px; height: 224px;" /></div>
    </div>
</form>



<style>
    .cont-wp {
        display: inline-block;
        width: 49%;
    }
</style>